.dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
  }
  
  .welcome-section {
    text-align: center;
    margin-bottom: 40px; /* Space between welcome text and cards */
  }
  
  .welcome-text {
    font-size: 40px;
    font-weight: bold;
    color: #2e3b4e;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 90px;
  }
  
  .sub-welcome-text {
    font-size: 22px;
    color: #5a636f;
  }
  
  .card-container {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  