/* Sidebar Styles */
.sidebar {
    width: 130px; /* Expanded width */
    overflow: hidden;
    border-right: 1px solid #5B3A29; /* Indigo border */
    transition: all 0.3s ease-in-out;
    background: linear-gradient(135deg, #6B4F3B, #C8B19A); /* Coffee brown gradient */
    position: fixed;
    top: 60px; /* Height of the navbar */
    height: calc(100vh - 60px); /* Full height minus navbar */
    color: rgb(242, 215, 118);
}

.sidebar.collapsed {
    width: 60px; /* Collapsed width */
}

.toggle-btn {
    position: absolute;
    top: 10px; /* Keep it at the top */
    left: 50%; /* Center horizontally in the sidebar */
    transform: translateX(-50%); /* Adjust to truly center the button horizontally */
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #8C4F30, #5B3A29); /* Button gradient */
    color: rgb(242, 215, 118);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.toggle-btn:hover {
    background: linear-gradient(45deg, #5B3A29, #8C4F30); /* Reverse gradient on hover */
    transform: translateX(-50%) scale(1.1); /* Maintain horizontal centering on hover */
}

.sidebar-item a {
    border-radius: 5px;
    display: block;
    color: rgb(242, 215, 118);
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.sidebar-item a:hover {
    background: #5B3A29; /* Add a transparent hover effect */
    margin: 10px;
    border-radius: 5px;
    transform: scale(1.02);
}

.sidebar.collapsed .sidebar-item a {
    text-align: center;
    padding: 7px;
    font-size: large;
    color: rgb(242, 215, 118);
}

.sidebar.collapsed .sidebar-item a:hover {
    align-items: center;
    padding: 7px;
    margin: 10px;
    transform: scale(1.02);
}

.divider {
    height: 1px;
    background-color: #743f24; /* Semi-transparent divider */
    margin: 5px 15px;
}
